body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/tech3-compressed.jpg ");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-body {
    height: 100%;
    width: 100%;
}

.btn {
    border-radius: 0.7rem;
}

.btn:hover {
    border-radius: 0;
}

.logo {
    position: absolute;
    font-size: 2.5rem;
    font-weight: bold; 
}

.logo span {
    color: yellow;
    border: 0.1px solid yellow;
    border-radius: 50%;
    padding: 0.5rem 1rem;
}

@media (max-width:1020px) {
    .logo {
        font-size: 2rem;
    }
}

@media (max-width:730px) {
    .logo {
        display: none;
    }
}